<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.nsk5720.projectmobile">
    <!--카메라-->
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-feature android:name="android.hardware.camera" />


    <!--지도-->
    <!-- 도시 블록 내에서의 정확한 위치(네트워크 위치) -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <!-- 정확한 위치 확보(네트워크 위치 + GPS 위치) -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>

    <!--치과지도 인터넷 허용-->
    <uses-permission android:name="android.permission.INTERNET"/>
    <!--치과지도 인터넷 허용-->
    <application
        android:usesCleartextTraffic="true"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.ProjectMobile">
        <activity
            android:name=".MusicPlay"
            android:exported="false" />
        <activity
            android:name=".Join2"
            android:exported="false" />
        <activity
            android:name=".Join1"
            android:exported="false" />
        <activity
            android:name=".JoinB"
            android:exported="false" />
        <activity
            android:name=".JoinA"
            android:exported="false" />
        <activity
            android:name=".Test"
            android:exported="false" />
        <activity
            android:name=".Memo"
            android:exported="false" />
        <activity
            android:name=".SharedPreferences"
            android:exported="false" />
        <activity
            android:name=".OnBoarding3"
            android:exported="false" />
        <activity
            android:name=".OnBoarding2"
            android:exported="false" />
        <activity
            android:name=".Onboarding2"
            android:exported="false" />
        <activity
            android:name=".OnBoarding1"
            android:exported="false" />
        <activity
            android:name=".HospitalList"
            android:exported="false" />
        <activity
            android:name=".HospitalInfo"
            android:exported="false" />
        <activity
            android:name=".MyPage"
            android:exported="false" />
        <activity
            android:name=".Diagnosis"
            android:exported="false" />
        <activity
            android:name=".DiagnosisList"
            android:exported="false" />
        <activity
            android:name=".CardComplete"
            android:exported="false" />
        <activity
            android:name=".CardInfo"
            android:exported="false" />
        <activity
            android:name=".CardReg"
            android:exported="false" />
        <activity
            android:name=".Reservation"
            android:exported="false" />
        <activity
            android:name=".Untact"
            android:exported="false" />
        <activity
            android:name=".List"
            android:exported="false" />
        <activity
            android:name=".Map"
            android:exported="false" />
        <activity
            android:name=".Login"
            android:exported="false" />
        <activity
            android:name=".Onboarding1"
            android:exported="false" />
        <activity
            android:name=".onboarding1"
            android:exported="false" />
        <activity
            android:name=".Loading"
            android:exported="false" />
        <activity
            android:name=".LodingPage"
            android:exported="false" />
        <activity
            android:name=".ChatListActivity"
            android:exported="false" />
        <activity
            android:name=".ChatRoomActivity"
            android:exported="false" />
        <!--카메라-->
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <!--카메라-->


        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>
        <!--지도기능-->
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyDOOkFi6VLmgo392nVrhFNEMrBUY0FbbW8" />
        <!--지도기능-->

    </application>

</manifest>